* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #3a3a3a;
  color: #fff;
  font-family: Helvetica, sans-serif;
}

.container {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.canvas-container {
  isolation: isolate;
  position: relative;
  z-index: 1;
  user-select: none;
  flex: 3;

  canvas {
    position: absolute;
    inset: 0;
    background: transparent;
    z-index: 1;
  }

  .img {
    position: relative;
    object-fit: cover;
    object-position: center;
    max-height: 80vh;
    max-width: 80vw;
    aspect-ratio: auto;
    z-index: -1;
  }
}

.file-picker {
  &__container {
    flex: 1;
    width: fit-content;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    isolation: isolate;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    background: teal;
    padding: 0.5rem 1rem;

    &:hover {
      filter: brightness(1.1);
    }

    label {
      font-weight: bold;
    }
  }
  &__input {
    opacity: 0;
    border-radius: 25px;
    inset: 0;
    position: absolute;
  }
}
