* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

canvas {
  position: absolute;
  background: transparent;
  z-index: 1;
}

.container {
  isolation: isolate;
  position: relative;
  height: 100dvh;
  z-index: 1;
}

.img {
  position: relative;
  z-index: -1;
}
